/* src/index.css */
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: black;
    /* fondo por defecto */
    color: white;
    /* texto por defecto */
}

button {
    color: black;
    /* 👈 siempre negro en botones */
    background: #f1f1f1;
    /* opcional, un gris claro */
    font-weight: bold;
}


input,
select,
textarea {
    font-family: inherit;
}